body {
  font-family: 'Montserrat', sans-serif  !important;
  font-weight: 500;
}

.sendmoney-block,
.beneficiary-create {
  background-color: #fff;
  border: 1px solid rgba(23, 85, 153, 0.1);
  padding: 24px;
}

.sendmoney-center {
  margin: 0 auto;
}
.back_url {
  height: 40px;
  width: 40px;
  float: left;
  padding-top: 7px;
  border-radius: 40px;
  text-indent: 13px;
  border: 1px solid rgb(130 130 130 / 35%);
}

.beneficiary_title {
  padding-top: 15px;
}

.confirmation_code_block {
  position: relative;
}

.confirmation_code_input {
  width: 50%;
}
.generate_code {
  padding-left: 20px;
}
.generate_code .loading-block {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 13px;
  right: 40%;
}
.generate_code .loading-block .wait-loading {
  margin-top: 0 !important;
}

.generate_message {
  margin-top: 10px;
}
.generate_message_1,
.generate_message_2 {
  background: #fff8d6;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.generate_message_1 span,
.generate_message_2 span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  align-items: center;
  color: #677687;
}

.beneficiary-form .ta-l,
.beneficiary-form .ta-c {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  color: #677687;
}

.generate_code a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
}

.control-label .tooltip {
  padding-left: 7px;
  display: inline-flex;
}

.payment__out--currency
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  color: #677687;
  padding: 10px 14px !important;
  font-size: 16px;
  line-height: 1.5rem;
}

.payment__in--currency
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  color: #677687;
  padding: 10px 12px !important;
  font-size: 16px;
  line-height: 1.5rem;
}

.form-group .control-label::after,
.is-required::after {
  content: "*";
  margin-left: 3px;
  font-weight: bold;
  font-size: 12px;
  color: #e10909;
}
.form-group.required .control-label::after,
.is-required::after {
  content: "*";
  margin-left: 3px;
  font-weight: bold;
  font-size: 12px;
  color: #e10909;
}
.form-group {
  margin-bottom: 20px;
}
.payment-f .form-group {
  margin-bottom: 0;
}
.form-group label {
  font-weight: bold;
  font-size: 14px;
  color: #182e45;
}
.help-block {
  font-size: 13px;
  line-height: 1.615385;
  color: #e10909 !important;
}

.form-group .btn {
  min-height: 45px;
  color: #fff;
  padding: 0 24px;
  font-weight: 100;
  line-height: 1;
  font-size: 16px;
  border-radius: 5px;
  background: #175599;
}

.login-bottom__btn {
  transition: all 0.3s;
}

.login-bottom__btn:hover {
  background-color: #113c6b !important;
}

.login-bottom__btn:focus {
  border: 0 none;
  outline: 0;
  background-color: #113c6b !important;
  border-color: #113c6b !important;
}

.radio-tabs label {
  color: #182e45;
  padding: 10px;
  margin: 0 12px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px rgba(23, 85, 153, 0.2);
}
.loading-content {
  position: relative;
}
.loading-content .content-block {
  opacity: 0.1;
}
.loading-block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E); */
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.login_block .form-control,
.select2-container {
  font-weight: 500;
  padding: 0 12px;
  min-height: 44px;
  background-color: #fff;
  color: #677687;
  font-size: 16px;
  line-height: 1.5rem;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #b9cce0;
  transition-property: box-shadow;
}

.public_l {
  background-color: aliceblue;
}
.login_block .col {
  margin: 0 auto;
}

.login_block .panel-title {
  text-align: center;
  margin: 25px;
}

.login_block .panel {
  padding: 20px;
  background-color: white;
  border: 1px solid #e0ecf9;
  border-radius: 5px;
}

/* new login page style */

:root {
  --main-text-color: #182e45;
  --button-color: #175599;
  /* brand blue */
  --border-color-form: #b9cce0;
  --text-size-small: 14px;
}

.header_ab + div,
.header_ab + section {
  margin-top: 0;
}

.navbar_fixed {
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.06);
}

.header_ab {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0.3s linear;
  border-bottom: 1px solid rgba(23, 85, 153, 0.1);
}

.auth-clients li:last-child {
  display: none;
}

.no-padding {
  padding: 0 !important;
}

.text-bold {
  font-weight: bold;
}

.login-modern {
  background: white;
}

.login-modern .f-right {
  background: var(--button-color);
  /* pattern */
}

.login-modern .f-left,
.login-modern .f-right {
  height: 100vh;
}

.login-modern input[type="password"].form-control {
  margin: 0;
  padding: 12px;
}

.login-modern .f-left {
  padding: 40px 60px;
}

.login-modern .form-content {
  max-width: 450px;
  margin: 0 auto;
}

.login-modern .back-button {
  height: 40px;
  padding-bottom: 50px;
}

.login-modern .back-button a {
  color: #677687;
  font-size: 42px;
  display: inline-block;
  background: url("/css/icon/left.svg") no-repeat 0 0;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}

.login-modern .back-button a:hover {
  background: url("/css/icon/left-hover.svg") no-repeat 0 0;
}

.login-modern header h1 {
  font-size: 26px;
  color: var(--main-text-color);
  font-weight: bold;
  margin-bottom: 66px;
}

.login-modern .control-label {
  font-weight: bold;
  font-size: 16px;
  color: var(--main-text-color) !important;
  margin-bottom: 8px;
  padding-top: 4px;
}

.login-modern .form-control {
  font-weight: 500;
  height: 48px;
  font-size: 16px;
  color: var(--main-text-color) !important;
  border: 1px solid var(--border-color-form) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-bottom: 18px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:hover {
  box-shadow: inset 0 0 0 1px rgb(23 85 153 / 50%);
}

.form-control:focus {
  box-shadow: inset 0 0 0 2px rgba(23, 85, 153, 0.5) !important;
}

.login-modern a.link {
  color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
}

.login-modern .btn {
  width: auto;
}

.login-modern .btn-primary {
  min-height: 44px !important;
  background: var(--button-color);
  font-size: var(--text-size-small);
  border-radius: 5px;
  padding: 12px 47px;
}

.login-modern .login-bottom {
  margin-top: 30px;
}

.login-bottom .text-bold {
  color: var(--main-text-color);
  font-size: var(--text-size-small);
  font-weight: bold;
}

.login-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.login-bottom .google-icon:before {
  content: ". ";
  margin-left: -2px;
  margin-top: -3px;
  display: inline-block;
  background: url("/images/home-img/icon/google-icon.svg") no-repeat 0%;
  width: 20px;
  height: 20px;
  vertical-align: top;
}

.login-modern .social_link li.follow_text {
  text-transform: none;
}

.login-modern .social_link .item i {
  width: 33px;
  height: 33px;
  color: #fff;
}

.login-modern .social_link .item .fa-facebook {
  padding-left: 12px;
  padding-top: 11px;
  background: #3b5998;
}

.login-modern .social_link .item .fa-linkedin {
  padding-left: 11px;
  padding-top: 10px;
  background: #0e76a8;
}

.login-modern .social_link .item .google-icon {
  padding-left: 10px;
  padding-top: 10px;
}

/* right section */
div {
  display: block;
}
.header_top > .navbar {
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  padding: 0px;
  position: relative;
  -webkit-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0s linear;
  min-height: 50px;
}
/* .navbar-brand {
  height: 68px !important;
} */
div.f-right {
  padding: 0;
  overflow: hidden;
}

.f-right section.brand {
  padding-top: 95px;
  padding-left: 160px;
  color: white;
  position: relative;
}

.f-right .brand-description {
  margin-top: 52px;
  font-size: 26px;
  line-height: 50px;
}

/***/

.anim-box {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.anim-box #canvas-box {
  width: calc(100% + 99px);
  height: 100vh;
  overflow: hidden;
}

.anim-box .square {
  margin: 0;
  padding: 0;
  float: left;
  width: 99px;
  height: 99px;
}

.anim-box svg rect,
.anim-box svg * {
  -webkit-transition: fill 2s ease;
  -moz-transition: fill 2s ease;
  -o-transition: fill 2s ease;
  transition: fill 2s ease;
}

@media (min-width: 1201px) {
  .header_ab + div,
  .header_ab + section {
    margin-top: 0 !important;
  }
  .login-modern > .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
  }
}

@media (max-width: 1200px) {
  header.auth-page .navbar-brand {
    padding-top: 11px;
    padding-bottom: 12px;
  }
  .header_top .navbar-header a.navbar-brand svg {
    max-height: 28px;
    width: 180px;
  }
  header.auth-page + .login-modern {
    margin-top: 85px;
  }
  .login-modern .back-button {
    padding-top: 18px;
    padding-left: 20px;
  }
  .login-modern .f-left {
    padding: 0;
  }
  .login-modern header h1 {
    padding-top: 20px;
  }
  .login-modern .form-content {
    max-width: 450px !important;
  }
  .login-modern .control-label {
    margin-bottom: 4px;
  }
  .login-modern .login-bottom {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .login-modern .btn-primary {
    font-size: var(--text-size-small);
    padding: 12px 47px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  header .navbar {
    min-height: 40px;
  }
  header.auth-page .navbar-brand {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .header_top .navbar-header a.navbar-brand svg {
    width: 110px;
    max-height: 17px;
  }
  header.auth-page + .login-modern {
    margin-top: 40px;
  }
  .login-modern .back-button {
    padding-left: 5px;
  }
  .login-modern .back-button a {
    /*font-size: 26px;*/
    width: 24px;
  }
  .login-modern header h1 {
    margin-top: 0px;
    padding-top: 8px;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .login-modern .form-group {
    margin-bottom: 20px;
  }
  .login-modern .control-label {
    margin-bottom: 5px;
  }
  .login-modern .login-bottom {
    display: block;
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .login-modern .btn-primary {
    font-size: var(--text-size-small);
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding: 12px 47px;
  }
  .login-bottom .text-bold {
    padding-left: 10px;
    font-size: 12px;
  }
  .login-modern .f-left,
  .login-modern .f-right {
    height: 100%;
  }
}

.main .alert-danger.alert .close {
  font-size: 18px;
}

.has-error .form-control {
  padding-right: 40px;
  box-shadow: inset 0 0 0 1px #e10909 !important;
  border: 0 none !important;
}

.has-error .form-control:focus {
  box-shadow: inset 0 0 0 2px #e10909 !important;
}

/* forget page */

.control-label-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-form__forget {
  display: inline-block;
  color: #175599;
  font-size: 12px;
  transition: all 0.3s;
}

/* socials */

@media (max-width: 767px) {
  .login-bottom__social {
    display: flex;
    justify-content: center;
  }
}

.socials {
  display: flex;
  align-items: center;
}

.socials__list {
  display: flex;
  align-items: center;
}

.socilas__item:not(:last-child) {
  margin-right: 16px;
}

.socials__link {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #3B5998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__link_green {
  background-color: #0E76A8;
}

.socials__link_grey {
  background-color: rgba(23, 85, 153, 0.1);
}

.socilas__icon {
  flex-shrink: 0;
}

.socials__text {
  color: #182E45;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 16px;
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;
}